@import url('https://fonts.googleapis.com/css2?family=Antic&family=Lato:wght@300&family=Rajdhani:wght@600&family=Roboto&display=swap');

/* 
Fonts to choose from: 
*
-Antic
-Lato 
-Rajdhani
-Roboto 
*
*/


* {
    padding: 0;
    margin: 0;
    border: 0;
}


body {
    font-family: Antic, sans-serif;
    font-weight: 300;
    color: #EDEDED;
    background: #191919;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    letter-spacing: 2px;
    color: #EDEDED;
}


/*** Header, Logo and Navigation Bar ***/

header {
    /* border: 1px solid #707070;
    border-radius: 7px; */
    /* position: sticky; */
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo-image {
    height: 150px;
    width: 100%;
    background: url(../images/Destiny_Logo_Stacked_White.png) no-repeat center center;
    background-size: contain;
    margin-top: 15px;
}

#logo {
    font-family: Rajdhani, sans-serif;
    color: #e4e4e4;
    text-align: center;
    font-size: 320%;
    margin-top: 10px;
}

#menu {
    text-align: center;
    font-size: 150%;
    margin-bottom: 10px;
}

#menu li {
    list-style-type: none;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 10px;
}

#menu a:hover {
    border-bottom: 1px solid #EDEDED;
}


/*** Hero Image / Top Image ***/

#image-area {
    height: 600px;
    width: 100%;

    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/FrontPageBanner_1920x590.webp) no-repeat center center;
    background-size: cover;

}