@import url('https://fonts.googleapis.com/css2?family=Antic&family=Lato:wght@300&family=Rajdhani:wght@600&family=Roboto&display=swap');

/* 
Fonts to choose from: 
*
-Antic
-Lato 
-Rajdhani
-Roboto 
*
*/


* {
    padding: 0;
    margin: 0;
    border: 0;
}


body {
    font-family: Antic, sans-serif;
    font-weight: 300;
    color: #EDEDED;
    background: #191919;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    letter-spacing: 2px;
    color: #EDEDED;
}


/*** Header, Logo and Navigation Bar ***/

/* header {
    border: 1px solid #707070;
    border-radius: 7px; 
     position: sticky;
} */


header a {
    text-decoration: none;
    color: inherit;
}

/* #logo hr {
    width: 350px;
    border-top: 1px solid #e4e4e4;
    margin-left: 40%;
} */

#logo-image {
    height: 120px;
    width: 100%;
    /* https://www.bungie.net/7_styleguide-destiny/en/aboutus#page=styleguide&guide=destiny */
    background: url(../images/Destiny_Logo_Stacked_White.png) no-repeat center center;
    background-size: contain;
    margin-top: 40px;
    margin-left: 2px;
}

#logo {
    font-family: Rajdhani, sans-serif;
    color: #e4e4e4;
    text-align: center;
    font-size: 280%;
    margin-top: 15px;
}

#menu {
    text-align: center;
    font-size: 135%;
    margin-bottom: 10px;
}

#menu li {
    list-style-type: none;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 10px;
}

#menu a:hover {
    border-bottom: 1px solid #EDEDED;
}

.active {
    border-bottom: 1px solid #EDEDED;
}

/*** Hero Image / Top Image ***/

#image-area {
    height: 600px;
    width: 100%;

    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    /* https://www.bungie.net/en/Explore/Detail/News/51694 */
    background: url(../images/FrontPageBanner_1920x590.webp) no-repeat center center;
    background-size: cover;

}


/*** Footer ***/

footer {
    width: 100%;
    height: auto;
    background-color: #191919;
}

#footer-text {
    text-align: center;
    font-size: 14px;
    line-height: 25px;
}

#social-media {
    text-align: center;
}

#social-media li {
    display: inline;
}

#social-media i {
    color: #e4e4e4;
    font-size: 200%;
    padding: 5px;
    margin: 2% 5%;
}