@import url('https://fonts.googleapis.com/css2?family=Antic&family=Lato:wght@300&family=Rajdhani:wght@600&family=Roboto&display=swap');

/* 
Fonts to choose from: 

-Antic
-Lato 
-Rajdhani
-Roboto 

*/


* {
    padding: 0;
    margin: 0;
    border: 0;
}


body {
    font-family: Antic, sans-serif;
    font-weight: 300;
    color: #EDEDED;
    background: #191919;
}

h1, h2 {
    /* font-family: Roboto, sans-serif; */
    font-family: Rajdhani, sans-serif;
    letter-spacing: 2px;
    color: #EDEDED;
}


/*** Header, Logo and Navigation Bar ***/

header a {
    text-decoration: none;
    color: inherit;
}

#logo-image {
    height: 120px;
    width: 100%;
    /* https://www.bungie.net/7_styleguide-destiny/en/aboutus#page=styleguide&guide=destiny */
    background: url(../images/Destiny_Logo_Stacked_White.png) no-repeat center center;
    background-size: contain;
    margin-top: 40px;
}

#logo {
    font-family: Rajdhani, sans-serif;
    color: #e4e4e4;
    text-align: center;
    font-size: 280%;
    margin-top: 18px;
}

#menu {
    text-align: center;
    font-size: 135%;
    margin-bottom: 18px;
}

#menu li {
    list-style-type: none;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 10px;
}

#menu a:hover {
    border-bottom: 1px solid #EDEDED;
}

.active {
    border-bottom: 1px solid #EDEDED;
}

/*** Hero Image / Top Image ***/

#image-area {
    height: 600px;
    width: 100%;

    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    /* https://www.bungie.net/en/Explore/Detail/News/51694 */
    background: url(../images/FrontPageBanner_1920x590.webp) no-repeat center center;
    background-size: cover;

}


/*** Sherpa Text Sections ***/

#page-title {
    font-family: Rajdhani, sans-serif;
    text-align: center;
    font-size: 250%;
    margin: 40px 0;
}

#sherpa-infos {
    height: 1300px;
}

.text-side {
    width: 45%;
    float: right;
    padding: 30px 40px;
}

.text {
    width: 80%;
    line-height: 20px;
    font-size: 19px;

    margin-bottom: 50px;
    /* margin-left: 50px; */

    position: relative;
    top: 150px;

}

.text h2 {
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    margin: 5px 0;
}

.picture-side {
    width: 45%;
    float: left;
    padding: 50px 40px;
    /* margin-left: 50px; */
}

.picture_1 {
    height: 500px;
    width: 80%;
    /* https://www.bungie.net/en/Explore/Detail/News/51726 */
    background: url(../images/FrontPageBanner_KingsFall_1920x590.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 100px;
    float: right;
}

.picture_2 {
    height: 500px;
    width: 80%;
    /* https://www.polygon.com/destiny-2-guide-walkthrough/23341425/destiny-2-kings-fall-red-border-deepsight-resonence-dr-chest-puzzle-rune-locations-crafting */
    background: url(../images//2022_KingsFall_Raid_Press_Kit_Oryx_Compressed_002.0.jpg) no-repeat center center;
    background-size: cover;
    float: right;
}


/*** Footer ***/

footer {
    width: 100%;
    height: auto;
    background-color: #191919;
}

#footer-text {
    text-align: center;
    font-size: 14px;
    line-height: 25px;
}

#social-media {
    text-align: center;
}

#social-media li {
    display: inline;
}

#social-media i {
    color: #e4e4e4;
    font-size: 200%;
    padding: 5px;
    margin: 2% 5%;
}